<footer>
	<div style="float:left; width:68%; text-align:left;">
		<p>
			<%= link_to "Deploy", "/deploy" %> |
			<%= link_to "v1 Source", "https://github.com/concerto/concerto_v1", :target => "_blank" %> |
			<%= link_to "v2 Source", "https://github.com/concerto/concerto", :target => "_blank" %> |
			<%= link_to "Blog", "/blog" %> |
			<%= mail_to "team@concerto-signage.org", "Contact Team", :encode => "hex" %>
		</p> 
		<p>&copy; 2007-2011 The Concerto Project.  All rights reserved.</p>
		<p class="small">Concerto is free software; you can redistribute it and/or modify it under the terms of the License included with the software.</p>
	</div>
	<div style="float:right; width:28%; text-align:right;">
		<% if user_signed_in? %>
	  	  <p class="small">Welcome <%= current_user.name %>!</p>
		  <p class="small"><%#= link_to "Edit Account", edit_user_path(current_user) %> | <%= link_to 'Logout', destroy_user_session_path, :confirm => 'Are you sure?' %></p>
		<% else %>
		  <p class="small"><%= link_to 'Site Login', new_user_session_path %></p>
		<% end %>
	</div>
	<div style="clear:both;"></div>
</footer>
