<% if current_user && current_user.is_admin? %>
<div class="adminpage">
	<p>Help Pages&nbsp;&nbsp;&nbsp;<%= link_to "New Help Page", new_help_page_path %> | <%= link_to "New Category", new_category_path %></p>
</div>	
<% end %>

<% @categories.each do |cat| %>
<div style="float:left;">
	<div class="sb sb-cols">
		<div class="sb-item">
			<div class="sb-top">
				<div class="sb-top-padding">
					<h1><%= cat.name %></h1>
				</div>
			</div>
			<div class="sb-mid">
				<div class="sb-mid-padding">
					<p><%= cat.description %></p>
					<ul>
						<% cat.help_pages.each do |help_page| %>
							<% if help_page.in_menu || current_user %>
								<li id="help_page_<%=help_page.id%>"><%= link_to help_page.name, :controller => 'help_pages', :action => 'show', :id => help_page.id %><%= " [hidden]" unless help_page.in_menu %></li>
							<% end %>
						<% end %>
					</ul>
	  		</div>
			</div>
			<div class="sb-bot">&nbsp;</div>
		</div>
	</div>
</div>
<% end %>
<div style="clear:both;"></div>
