<%= form_for([@page, @column]) do |f| %>
	<%= f.error_messages %>

	<fieldset>
  		<div class="field">
    		<%= f.label :width %>
    		<div class="inputs">
				<%= f.text_field :width %>
			</div>
  		</div>
  		<div class="field">
    		<%= f.label :position %>
    		<div class="inputs">
				<%= f.text_field :position %>
			</div>
  		</div>
  		<div class="field">
    		<%= f.label :is_clear %>
    		<div class="inputs">
				<%= f.check_box :is_clear %>
			</div>
  		</div>
  		<div class="actions">
    		<%= f.submit %>
  		</div>
	</fieldset>
	
<% end %>
