<% content_for :title do %>
	<%= @page.title.titleize %>
<% end %>

<% if current_user && current_user.is_admin? %>
<div class="adminpage">
	<p>Page&nbsp;&nbsp;&nbsp;<%= link_to "New Column", new_page_column_path(@page) %> | <%= link_to "Edit Page", edit_page_path(@page) %></p>
</div.
<% end %>

<div style="clear:both;"></div>
<%= render @columns %>
<div style="clear:both;"></div>

<%= render :partial => "contacts/new", :locals => { :contact => @new_contact, :controller_name => controller.controller_name } %>