<% content_for :title do %>Home<% end %>

<div id="floatspace">
	<div id="screenslate"><%= image_tag("screenslate.jpg", :alt => "") %></div>
</div>
	
<div id="stripe2" class="fp_waves bighero">
  	<div id="stripe1">
		<div class="wrap">
			<%= render :partial => 'elements/mainmenu' %>
    	</div>
	</div>
    <div id="stripe2-padding">
	   	<div class="wrap">
	   		<div id="fpth">
	   			<a href="/why-concerto"><%= image_tag("fpth/fpth_why.jpg", :alt => '') %></a>
	   		</div>
	   	</div>
	</div>
</div>
  	
<div id="stripe3">
	<div class="wrap">
		<div id="maincontent">
  			<div id="mc">
      			<%= image_tag("titles/fp_welcome.png", :alt => "Concerto is digital signage for everyone.  Now open source.") %>
      			<br />
				<br />
      	
      			<%= link_to image_tag("dl_icon.png", :alt => "Download Concerto Free"), "/deploy" %>
      			&nbsp;
      			<%= link_to image_tag("repo_icon.png", :alt => "View the Code (v1)"), 'http://github.com/concerto/concerto_v1', :target => "_blank" %>
      			<%= link_to "Download the latest code release (v1.9.3, 1.6 MB)", "/downloads/concerto-1.9.3-NoCAS.tar.gz", :style => 'color:#333;font-size:0.8em;margin-left:15px;font-weight:normal;' %>
      			<br />
				<br />
				<br />
      			<h3>Concerto is a free, Web-based broadcast medium for digital announcements that <i>just works</i>.  Using Concerto, it's easy to engage large communities of people with graphical and text-based flyers, alerts, and other messages.</h3>
			</div>

  			<div class="sb" style="margin-top:100px;">
  	
  				<div class="sb-item">
  					<div class="sb-top">
  						<div class="sb-top-padding">
  							<h1>On the Concerto Blog</h1>
  						</div>
  					</div>
  					<div class="sb-mid">
  						<div class="sb-mid-padding">
							<% if @found_blog && @rss && @rss.items.size > 0 %>
							<ul>
								<% @rss.items[(0..5)].each do |rss| %>
								<li><%= link_to rss.title, rss.link %>
								<% end %>
							</ul>
							<% elsif @rss && @rss.items.size == 0 %>
							<h3><i>No posts to display</i></h3>
							<% else %>
							<h3><i>Problem retrieving posts</i></h3>
							<% end %>
	        			</div>
      				</div>
      				<div class="sb-bot">&nbsp;</div>
  				</div>

  				<%#= render :partial => 'elements/sharelinks_sb', :locals => { :sharetitle => 'Share Concerto' }  %>
  		        		
  			</div>

    		<div style="clear:both;"></div>
  		</div>
	</div>
</div>

<div id="stripe4">
	<div class="wrap">
		<%= render :partial => 'elements/footer' %>
  	</div>
</div>