<section class="single">
	<hgroup>
		<h1>Log In</h1>
	</hgroup>
	
	<%= form_for(@user_session) do |f| %>
		<% if @user_session.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@user_session.errors.count, "error") %> prohibited this session from being created:</h2>

				<ul>
					<% @user_session.errors.full_messages.each do |msg| %>
	  				<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<fieldset>
			<div class="field">
				<%= f.label :username %>
				<div class="inputs">
					<%= f.text_field :username %>
				</div>
			</div>
			<div class="field">
				<%= f.label :password %>
				<div class="inputs">
					<%= f.password_field :password %>
				</div>
			</div>
		</fieldset>
		<div class="actions">
			<%= f.submit "Login" %>
		</div>
	<% end %>
</section>