<!DOCTYPE html>
<html>
	<head>
 	   	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title><%= yield_for_title(:title, controller.controller_name.titleize) %> - Concerto Digital Signage Project</title>

	    <meta name="keywords" content="<%= @meta_keywords %>" />
		<meta name="description" content="<%= @meta_description %>" />
		<link rel="publisher" href="https://plus.google.com/113721101312471729180" />
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>
		
		<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js' type='text/javascript'></script>
		<script src='https://raw.github.com/flaptor/indextank-jquery/master/jquery.indextank.ize.js' type='text/javascript'></script>
		<link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/flick/jquery-ui.css' rel='stylesheet'>

		<script type='text/javascript'> 
			var publicApiUrl = "http://8k9wf.api.indextank.com";
			var indexName = "concerto_signage";
		</script>
		
		<script type='text/javascript'>

		$(document).ready(function(){
		    // let the form be 'indextank-aware'
		    $("#search_form").indextank_Ize(publicApiUrl, indexName);
		    // let the query box have autocomplete
		    $("#query").indextank_Autocomplete();
		});


		</script>
		
		<%= csrf_meta_tag %>

		<!--[if lt IE 9]>
		<%= javascript_include_tag "html5.js" %>
		<![endif]-->
		
	</head>

	<body>

		<%= render :partial => "elements/flashblock" %>
		
		<% if controller.action_name == "show" %>
		<div id="stripe2" class="help-page-index">
	    	<div id="stripe1">
				<div class="wrap">
					<%= render :partial => 'elements/mainmenu' %>
	     		</div>
			</div>
	      	<div id="stripe2-padding">
		    	<div id="hp-top" class="wrap"> 
		    		<div id="hp-title"> 
		    			<%= image_tag("icons/robot_icon.png", :alt => @help_page.category.name.titleize, :title => @help_page.category.name.titleize )%>
		    			<h1><%= @help_page.name %></h1> 
		    			<h2><a href="/help">Help</a> :: <%= @help_page.category.name.titleize %></h2> 
		    		</div> 
		    		<div style="clear:both;"></div> 
		    		<p id="hp-details"><b>Last modified:</b> <%= @help_page.updated_at.strftime('%l:%M %P on %B %e, %Y') unless @help_page.updated_at.nil?%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Article:</b> <%= @help_page.category.id unless @help_page.category.nil? %>-<%= params[:id] %></p> 
		    	</div>
		    </div>
	    </div>
		<% else # case of index action %>
		<div id="stripe2" class="help-page-index">
	    	<div id="stripe1">
				<div class="wrap">
					<%= render :partial => 'elements/mainmenu' %>
	     		</div>
			</div>
	      	<div id="stripe2-padding" class="help-page-home">
				<div class="wrap">
					<br /><br /><br /><br />
    				<div id="searchbox">
    					<div id="searchbox-padding">
    						<h3>Search Concerto Help</h3>
    						<%= render :partial => "help_pages/search_pane" %>
    					</div>
    				</div>
				</div>
		    </div>
	    </div>
		<% end %>
	    	
    	<div id="stripe3">
			<div class="wrap">
      			<div id="maincontent">
        			<div id="mc" <% if controller.action_name == "show" %>class="post-body"<% else %>style="width:100%;"<% end %>>
	
						<article>
	  						<%= yield %>
  						</article>
							
        			</div>

					<% if controller.action_name == "show" %>
					<div class="sb" style="margin-right:0px;">

	        			<div class="sb-item">
		        			<div class="sb-top">
		        				<div class="sb-top-padding">
		        					<h1>Search Concerto Help</h1>
		        				</div>
		        			</div>
		        			<div class="sb-mid">
		        				<div class="sb-mid-padding">
		        					<%= render :partial => "help_pages/search_pane" %>
				        		</div>
			        		</div>
			        		<div class="sb-bot">&nbsp;</div>
		        		</div>

		        		<div class="sb-item">
		        			<div class="sb-top">
		        				<div class="sb-top-padding">
		        					<h1>Also in this Category</h1>
		        				</div>
		        			</div>
		        			<div class="sb-mid">
		        				<div class="sb-mid-padding">
									<ul>
										<% @otherpages.each do |page| %>
										<li><%= link_to page.name, page %></li>
										<% end %>
									</ul>
				        		</div>
			        		</div>
			        		<div class="sb-bot">&nbsp;</div>
		        		</div>

		        		<div class="sb-item">
		        			<div class="sb-top">
		        				<div class="sb-top-padding">
		        					<h1>Contribute</h1>
		        				</div>
		        			</div>
		        			<div class="sb-mid">
		        				<div class="sb-mid-padding">
									<ul>
										<li><a href="#feedback_box">Send feedback about this page</a></li>
									</ul>
				        		</div>
			        		</div>
			        		<div class="sb-bot">&nbsp;</div>
		        		</div>

					</div>
					<% end %>
					
					<div style="clear:both;"></div>
					
        		</div>
      		</div>
		</div>
      
      	<div id="stripe4">
			<div class="wrap">
				<%= render :partial => 'elements/footer' %>
        	</div>
      	</div>
		<%#= render :partial => 'layouts/stats' %>
  	</body>
</html>
