<!DOCTYPE html>
<html>
	<head>
 	   	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title><%= yield_for_title(:title, controller.controller_name.titleize) %> - Concerto Digital Signage Project</title>

	    <meta name="keywords" content="<%= @meta_keywords %>" />
		<meta name="description" content="<%= @meta_description %>" />
		<link rel="publisher" href="https://plus.google.com/113721101312471729180" />
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tag %>

		<!--[if lt IE 9]>
		<%= javascript_include_tag "html5.js" %>
		<![endif]-->
		<%= render :partial => "elements/stats" %>
	</head>

	<body<% if controller.controller_name == "pages" && controller.action_name == "show" %> class="category_<%= @page.category.name.downcase %>"<% end %>>

		<%= render :partial => "elements/flashblock" %>
		
		<% if controller.controller_name == "pages" && controller.action_name == "show" && File.exists?(Rails.root.to_s + '/app/views/category_includes/' + '_' + @page.category.name.downcase + '.html.erb') %>
		
			<%= render :partial => 'category_includes/' + @page.category.name.downcase %>
	  	
		<% else %>
		
		<div id="stripe2" class="<%= content_for :stripe2_classes %>">
	    	<div id="stripe1">
				<div class="wrap">
					<%= render :partial => 'elements/mainmenu' %>
	     		</div>
			</div>
	      	<div id="stripe2-padding" style="<%= @bg_css %>">
				<%= content_for :stripe2_content %>
		    </div>
	    </div>
	    	
    	<div id="stripe3">
			<div class="wrap">
      			<div id="maincontent">
        			<div id="mc" style="width:100%;">
	
						<article>
	  						<%= yield %>
  						</article>
							
        			</div>
          			<div style="clear:both;"></div>
        		</div>
      		</div>
		</div>
		
		<% end %>
      
      	<div id="stripe4">
			<div class="wrap">
				<%= render :partial => 'elements/footer' %>
        	</div>
      	</div>
		<%#= render :partial => 'layouts/stats' %>
  	</body>
</html>
